* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f9afb;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content,
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close,
  .exit,
  .done {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .exit:hover,
  .exit:focus,
  .done:hover,
  .done:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: #0f9afb;
  border-bottom: 3px solid #0f9afb;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
  font-weight: bold;
  font-size: 30px;
}

.nav-bar p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #0f9afb;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.nav-bar a:hover {
  color: #0f9afb;
  background-color: white;
  transition: all 0.3s linear;
}

.timeline-image img {
  height: 100px;
  width: 100px;
}

.user-info {
  /* height: 100vh; */
  padding: 30px;
  /* border-right: 1px solid #0f9afb; */
  position: absolute;
  left: 0;
  /* gap: 20px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 25%; */
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.buttons {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.profile-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid #0f9afb;
  padding: 10px;
}

.tweet-btn {
  /* position: relative;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.tweet-btn button {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background-color: #0f9afb;
}

.tweet-btn button:hover {
  background-color: white;
  color: #0f9afb;
  transition: all 0.3s linear;
}

.fas {
  font-size: 30px;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.JScontainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow-y: scroll;
  overflow: hidden;
  gap: 20px;
  /* border-left: 3px solid #0f9afb;
  border-right: 3px solid #0f9afb;
  border-bottom: 3px solid #0f9afb; */
  /* padding: 50px; */
}

.JScontainer button {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background-color: #0f9afb;
  font-weight: bold;
  font-size: 20px;
}

.JScontainer button:hover {
  background-color: white;
  color: #0f9afb;
  transition: all 0.3s linear;
}

.timeline-home-header {
  background-color: #0f9afb;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  color: black;
  justify-content: center;
  align-items: center;
}

.userNamesContainer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}

.profile-image img {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  border: 3px solid #0f9afb;
}

.bigContainer {
  display: flex;
  border-bottom: 3px solid #0f9afb;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.following {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.followCount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.tweet-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
    color: black;
    box-shadow: 0 2px 5px 0 rgb(0 162 255 / 50%), 0 2px 10px 0 rgb(0 162 255 / 40%);
    background-clip: padding-box;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #0f9afb;
}

.tweet-container p {
  color: #0f9afb;
  font-weight: bold;
  font-size: 20px;
}

.text {
  border-bottom: 3px solid #0f9afb;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-posts {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 20px;
  padding: 10px 10%;
  flex-wrap: wrap;
}

.user-posts:hover {
  background-color: rgba(75, 144, 194, 0.25);
  transition: all 0.3s linear;
}

.tweet-image-container-one,
.tweet-image-container-two {
  display: flex;
  gap: 20px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  border-bottom: 3px solid #0f9afb;
}

.image-container img {
  height: 300px;
  width: 300px;
}

.tweet-user {
  display: flex;
  border-bottom: 3px solid #0f9afb;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.tweet-user img {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  border: 3px solid #0f9afb;
}

.user-name {
  color: #0f9afb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.view-btn button,
.view-btn-two button {
  padding: 21px;
  border: 1px solid black;
  text-transform: uppercase;
  /* border-radius: 50px; */
  font-weight: bold;
}

.view-btn:hover button,
.view-btn-two:hover button {
  border: 1px solid #0f9afb;
  background-color: #0f9afb;
  color: black;
  text-transform: uppercase;
  /* border-radius: 50px; */
  font-weight: bold;
  transition: all 0.3s linear;
}

.view-btn-container {
  display: flex;
  gap: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.profile-heading button {
  padding: 10px;
  border: 1px solid black;
  text-transform: uppercase;
  /* border-radius: 50px; */
  font-weight: bold;
  background-color: black;
  color: #0f9afb;
}

.profile-heading button:hover {
  border: 1px solid #0f9afb;
  text-transform: uppercase;
  /* border-radius: 50px; */
  font-weight: bold;
  background-color: #0f9afb;
  color: black;
  transition: all 0.3s linear;
}