* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

body {
    /* height: 100vh; */
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #0f9afb;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
    font-weight: bold;
    font-size: 30px;
}

.nav-bar p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #0f9afb;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-bar a:hover {
    color: #0f9afb;
    background-color: white;
    transition: all 0.3s linear;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* padding: 20px; */
    /* height: 100vh; */
}

.tweet-container img {
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#timeline {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow-y: scroll;
    overflow: hidden;
    gap: 20px;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
    color: black;
    box-shadow: 0 2px 5px 0 rgb(0, 162, 255, 0.5), 0 2px 10px 0 rgb(0, 162, 255, 0.4);
    background-clip: padding-box;
    font-weight: bold;
    font-size: 20px;
}

#user-info {
    height: 100vh;
    padding: 30px;
    /* border-right: 1px solid #0f9afb; */
    position: absolute;
    left: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

#search {
    height: 100vh;
    padding: 30px;
    /* border-left: 2px solid black; */
}

.timeline-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
}

.timeline-image img {
    height: 100px;
    width: 100px;
}

.timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: #0f9afb;
}

.tweet-btn {
    /* position: relative;
    bottom: 0; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.tweet-btn button {
    /* font-size: 30px; */
    padding: 20px;
    border: none;
    background-color: #0f9afb;
}

.tweet-btn button:hover {
    background-color: white;
    color: #0f9afb;
    transition: all 0.3s linear;
}

.fas {
    font-size: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 10px;
    color: #0f9afb;
}

.fa-copyright {
    color: #0f9afb;
    font-size: 20px;
}

.cc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-container img {
    height: 25px;
    width: 25px;
}

.cc-icon {
    display: flex;
    gap: 20px;
}

.cc-icon p {
    font-weight: bold;
    font-size: 20px;
}

.form-input {
    /* border-radius: 50px; */
    padding: 20px;
    text-align: center;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #0f9afb;
 }

 .form-container {
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

.form-container button {
    padding: 21px;
    border: 1px solid #0f9afb;
    text-transform: uppercase;
}

.form-container button:hover {
    color: #0f9afb;
    background-color: black;
    transition: all 0.3s linear;
}

.header {
    display: none;
}

.follow-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0f9afb;
    padding: 25px;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 162, 255, 0.411), 0 2px 10px 0 rgb(0, 162, 255, 0.411 0.4);
    background-clip: padding-box;
}

.follow-container h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#follow-users img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

#follow-users {
    display: flex;
    gap: 20px;
    flex-direction: column;   
}

.follow-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.follow-name {
    display: flex;
    gap: 10px;
}

.new-container {
    display: flex;
    /* background-color: black; */
    padding: 20px;
    /* border-radius: 100px; */
    /* flex-direction: column; */
}

.trending-card {
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #0f9afb;
    padding: 25px;
    color: black;
    box-shadow: 0 2px 5px 0 rgb(0, 162, 255, 0.5), 0 2px 10px 0 rgb(0, 162, 255, 0.4);
    background-clip: padding-box;
}

.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#searchBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content,
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close,
  .exit,
  .done {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .exit:hover,
  .exit:focus,
  .done:hover,
  .done:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .tweet-user {
      display: flex;
      border-bottom: 3px solid black;
      width: 100%;
      gap: 20px;
  }

  .tweet-user img {
      height: 75px;
      width: 75px;
      border-radius: 75px;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .tweet-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 3px solid black;
}

#trending-container {
    /* border-left: 1px solid #0f9afb; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 25%;
}

.topics p {
    font-weight: bold;
}

.topics a {
    text-decoration: none;
    flex-wrap: nowrap;
    color: black;
}